{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "node": "current"
          }
        },
        "transform-runtime": {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "targets": {
                "node": "current"
              },
              "modules": "commonjs"
            }
          }
        ]
      ]
    },
    "common": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
