localhost:4001 {
    proxy /api localhost:3000

    gzip

    log / stdout "{upstream} {method} {uri} {latency}"

    root ./public

    rewrite {
        if {path} not_starts_with /api
        to {path} {path}/ /?{query}
    }
}
